.page
  width: 100vw
  height: 100vh

  background-color: var(--color-white)

  overflow: auto
  scroll-snap-type: y mandatory

  &::-webkit-scrollbar
    display: none


.container
  max-width: calc(1272px + 24px * 2)
  width: 100%
  padding: 0 2.4rem
  margin: 0 auto

.section
  scroll-snap-align: start
  height: 100%
  padding-bottom: 2.3rem

// extends
.link
  font-family: 'Inter'
  font-size: 1.6rem
  line-height: 1.625
  font-weight: 400
  letter-spacing: 1px

.h1
  font-family: 'FK Grotesk Neue'
  font-weight: 500
  line-height: 0.95
  font-size: 9rem

.h2
  font-family: 'FK Grotesk'
  font-weight: 500
  line-height: 0.993
  font-size: 8rem

.btn
  display: inline-flex
  border: none
  appearance: none
  background: none

  text-transform: uppercase

  cursor: pointer

  &--text
    font-family: 'Inter'
    font-weight: 600
    line-height: 1.28
    font-size: 2rem
    color: var(--color-dark)

  &--header
    @extend .link

    padding: 3rem 2.7rem

    background-color: var(--color-black)
    border-radius: var(--radius-medium)
  
    color: var(--color-light)
    font-weight: 500
    line-height: 1.345
    white-space: pre
    letter-spacing: 0.04em