// init
@import 'fonts'
@import 'vars'
@import 'vendor/reset.css'

// general classes
@import 'general'

// blocks
@import 'blocks/page'
@import 'blocks/header'

// other code
*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  font-size: 10px

body
  font-family: 'FK Grotesk'
  font-weight: 400
  font-size: 2rem

a
  color: var(--color-black)
  font-family: 'Inter'
  font-size: 1.6rem
  line-height: 1.625
  font-weight: 400
  letter-spacing: 1px
  
  cursor: pointer