.achievement
  &__row
    transform: rotate(-5.03deg)
    overflow: scroll

    width: calc(100% + 15rem)

    background-color: var(--color-black)

    position: absolute
    left: -10rem
    bottom: 9rem

    &::-webkit-scrollbar
      display: none

  &__list
    display: inline-flex
    padding: 4.5rem 0 4.67rem
    gap: 0 5.4rem
    height: 100%

    overflow: hidden

  &__item
    display: flex
    align-items: center
    gap: 0 3.7rem

  &__img
    width: 19.2rem
    height: 13.1rem
    border-radius: 65px
    object-fit: cover

  &__text
    display: flex
    flex-direction: column

    text-align: start
    white-space: pre

    color: var(--color-white)

  &__title
    font-size: 8.4rem
    line-height: .96
    font-weight: 700

  &__subtitle
    font-size: 2.77rem
    font-weight: 400

  @include media(tablet)
    &__row
      width: 100%
      
      border-radius: 3rem

      position: relative
      bottom: auto
      left: auto

      transform: none

    &__list
      display: flex
      flex-direction: column
      align-items: center
      padding: 8rem 6.2rem
      gap: 6rem 0

    &__item
      gap: 0 2.8rem

    &__text
      gap: .8rem 0

    &__title
      font-size: 8rem
      font-weight: 500
      line-height: .993

    &__subtitle
      font-size: 2rem
      line-height: 1.6
    
    &__img
      width: 15.1rem
      height: 15.1rem
      border-radius: 100%

  @include media(premobile)
    &__list
      align-items: flex-start

  
  @include media(mobile)

    &__list
      display: flex
      flex-direction: column
      padding: 0
      gap: 4rem 0
    
    &__row
      background-color: transparent

    &__item
      gap: 0 2rem

    &__text
      color: var(--color-black)

    &__title
      font-size: 4.8rem
      font-weight: 500

    &__subtitle
      font-family: "Inter"
      font-weight: 400
      font-size: 1.4rem
    
    &__img
      width: 8.9rem
      height: 8.9rem
      border-radius: 100%