.logo
  display: flex
  align-items: center
  height: 3.4rem
  gap: 0 1.5rem

  cursor: pointer

  z-index: 1000

  &__icon
    width: 100%
    stroke: inherit

  &__title
    font-weight: 900
    font-size: 2.6rem
    line-height: 1.3
    letter-spacing: 0.04em
    text-transform: uppercase

  @include media(mobile)
    padding-top: .5rem
    gap: 0 1.05rem

    &__icon
      width: 2.8rem

    &__title
      font-size: 1.742rem 